#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-size: 20px;
  padding: 10px 15px;
  background-color: #58a6ff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#backToTop:hover {
  background-color: #1f6feb;
}

section:hover {
  background-color: #161b22;
  transition: background-color 0.5s ease;
}

section h2 {
  transition: color 0.5s;
}
section.in-view h2 {
  color: #ffa657;
}
